# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Github Provider
GITHUB_ID=Iv1.b5b32350d8d6f92a
GITHUB_SECRET=5529ddcca7eafd207156dbccd9d8f29f23817d08
